.wrapper {
  max-width: 113.6rem;
  margin: 2rem auto;
  padding: 0 1.6rem;

  display: grid;
  grid-template-columns: 25.6rem 1fr;
  gap: 3.2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 58.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 56.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 54.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 52.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}